@font-face { 
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Thin.otf") format("embedded-opentype"); 
  font-weight: 100; 
  font-style: normal; 
}

@font-face { 
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Light.otf") format("embedded-opentype"); 
  font-weight: 300; 
  font-style: normal; 
}

@font-face { 
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Regular.otf") format("embedded-opentype"); 
  font-weight: normal; 
  font-style: normal;
}

@font-face { 
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-SemiBold.otf") format("embedded-opentype"); 
  font-weight: 600; 
  font-style: normal;
}

@font-face { 
  font-family: "Mont";
  src: url("../fonts/mont/Mont-ExtraLightDEMO.otf") format("embedded-opentype"); 
  font-weight: 200; 
  font-style: normal;
}

@font-face { 
  font-family: "Mont";
  src: url("../fonts/mont/Mont-HeavyDEMO.otf") format("embedded-opentype"); 
  font-weight: normal; 
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
html, body {
    overscroll-behavior-x: none;
}
body {
  font-family: 'Metropolis', sans-serif;
  background: #fff;
  transition: all ease .5s;
  color: #131721;
}
p {
  font-family: 'Metropolis', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
h1{
  font-family: 'Metropolis', sans-serif;
  font-size: 56px;
  font-weight: 600;
}
h2{
  font-family: 'Metropolis', sans-serif;
  font-size: 48px;
  font-weight: 600;
}
h4{
  font-family: 'Metropolis', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
input,input:focus,button, textarea:focus{
  outline: none;
  box-shadow: none!important;
  border-bottom: 1px solid #DC7F9B;
}
button{
  border: none;
}
a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  outline: none;
  box-shadow: none!important;
}
a:hover{
  color: #DC7F9B;
}
section{
  display: block;
  padding: 5rem 0;
  overflow: hidden;
  position: relative;
}

.dropdown-item.active, .dropdown-item:active {
    color: #141721;
    text-decoration: none;
    background-color: #ffe6ed;
}

.form-control{
  color: #141721;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #141721;
  border-radius: 0em;
  padding: 10px 5px;
}

.form-control:focus{
  border-bottom: 1px solid #DC7F9B;
}

.bg-dark{
  background: rgb(19,23,33);
  background: -moz-linear-gradient(180deg, rgba(19,23,33,1) 0%, rgba(19,23,33,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(19,23,33,1) 0%, rgba(19,23,33,0) 100%);
  background: linear-gradient(180deg, rgba(19,23,33,1) 0%, rgba(19,23,33,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131721",endColorstr="#131721",GradientType=1);
  background-color: transparent!important;
}

.modal-content{
  border-radius: 0;
  border: none;
}
.w-10{
  width: 10%!important;
}
header{
  width: 100vw;
}

header.scrolled{
  background: #2f2f2f;
}

.text-success{
  color: #43ada2!important;
}
.text-info{
  color: #1b75bb!important;
}
.text-danger{
  color: #EF233C!important;
}
.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
.z-index-9{
  z-index: 9;
}
.ratio-32x9 {
    --bs-aspect-ratio: 28.8%;
}
.navbar-dark .navbar-brand {
    display: flex;
    align-items: center;
}

.nav-item{
  position: relative;
}

.navbar-dark .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #DC7F9B;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #DC7F9B;
}
.navbar-dark .navbar-toggler{
  border: none;
  padding-left: 0;
  padding-right: 0;
}
/*.navbar-dark .navbar-toggler-icon {
    background-image: url('../img/icons/icon-menu.svg');
}*/
.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url('../img/icons/icon-menu.svg');
    transition: all ease .5s;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url('../img/icons/icon-x.svg');
}

.navbar-toggler[aria-expanded="true"] + .bg-dark{
    background-color: black!important;
}

.navbar-nav .dropdown-menu{
    border-radius: 0;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
  }
}

.object-cover{
  object-fit: cover;
}

.subtitle{
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #DC7F9B;
}

#big_hero{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff url('../img/banner/banner-1.png') no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}
#big_hero2{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff url('../img/banner/banner-2.png') no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}
#big_hero2 .container{
  z-index: 1;
}
#big_hero2:before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
#big_hero3{
  width: 100vw;
  height: 100vh;
  background: #fff url('../img/banner/banner-4.png') no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  position: relative;
}
#big_hero3 .container{
  z-index: 1;
}
#big_hero3:before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
#big_hero4{
  width: 100vw;
  height: 100vh;
  background: #fff url('../img/banner/banner-5.png') no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}
#big_hero4 .container{
  z-index: 1;
}
#big_hero4:before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

#big_hero5{
  width: 100vw;
  height: 100vh;
  background: #3D2645 url('../img/bg-membership.png') no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}
#big_hero5 .container{
  z-index: 1;
}
#big_hero5:before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.text_overlay{
  position: absolute;
  z-index: 1;
  /*width: 40%;*/
  height: 100%;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  color: #fff;
}

.btn-link{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  padding: 1em;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.btn-link:hover{
  background: #131721;
  border: none;
  color: #fff;
}

.btn-link-pink{
  display: inline-block;
  text-transform: uppercase;
  padding: 1em;
  text-decoration: none;
  font-weight: 600;
  color: #DC7F9B;
}

.btn-link-pink:hover{
  border: none;
  color: #141721;
}

.btn-link-black{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #141721;
  padding: 1em;
  text-decoration: none;
  font-weight: 600;
  color: #141721;
}

.btn-link-black:hover{
  background: #131721;
  border: none;
  color: #fff;
}

.btn-link-dark{
  display: inline-block;
  background: #131721;
  text-transform: uppercase;
  padding: 1em;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.btn-link-dark:hover{
  background: #DC7F9B;
  color: #fff;
}

.btn-link-light{
  display: inline-block;
  background: #fff;
  text-transform: uppercase;
  padding: 1em;
  text-decoration: none;
  font-weight: 600;
  color: #6C757D;
  text-align: center;
}

.btn-link-light:hover{
  background: #131721;
  color: #fff;
}

.btn-link-outline-dark{
  display: inline-block;
  background: #fff;
  text-transform: uppercase;
  padding: 1em 4em;
  text-decoration: none;
  font-weight: 600;
  color: #131721;
  border: 1px solid #131721;
}

.btn-link-outline-dark:hover{
  background: #131721;
  color: #fff;
  border: 1px solid #131721;
}
.swal2-popup{
  border-radius: 0!important;
}
.swal2-icon{
  border: none!important;
}
.swal2-title{
  color: #231F20!important;
}
.swal2-html-container{
  color: #131721!important;
}
.swal2-styled.swal2-confirm{
  border-radius: 0!important;
  font-size: 20px!important;
  padding: 1rem 5rem;
}

#our_treatment{
  background: #fff url('../img/bg-treatment.png') no-repeat;
  background-size: 100%;
  background-position: top center;
}

.treatment-title{
  font-size: 24px;
  font-weight: normal;
  padding: .5rem 2rem;
  text-align: center;
  border-left: 1px solid #141721;
  border-bottom: 1px solid #141721;
  margin-bottom: 1em;
}

.card {
  border: none;
  border-radius: 0;
}

.card-overlay .card-body{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  color: #fff;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0.5004595588235294) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.5004595588235294) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0.5004595588235294) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  /*transition: all ease .5s;*/
  transition: background linear 2s, color linear .5s;
}

.card-overlay .card-body p{
  display: none;
}

.card-overlay .card-body .btn-link-black{
  display: none;
}

.card-overlay .card-body:hover{
  justify-content: center;
  color: #131721;
  background: rgb(220,127,155);
  background: -moz-linear-gradient(-45deg, rgba(220,127,155,1) 0%, rgba(235,169,179,1) 50%, rgba(255,221,210,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(220,127,155,1) 0%, rgba(235,169,179,1) 50%, rgba(255,221,210,1) 100%);
  background: linear-gradient(-45deg, rgba(220,127,155,1) 0%, rgba(235,169,179,1) 50%, rgba(255,221,210,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc7f9b",endColorstr="#ffddd2",GradientType=1);
  transition: all ease .5s;
}

.card-overlay .card-body:hover h4{
  display: none;
}

.card-overlay .card-body:hover p{
  display: block;
}

.card-overlay .card-body:hover .btn-link-black{
  display: block;
}

.bg-pat-yellow{
  background: #FFC43D url(../img/pat-1.png) no-repeat;
  background-size: 100%;
}

.bg-pat-yellow img{
  margin-left: -2em;
  margin-top: 2em;
}

.bg-pat-green{
  background: #83C5BE url(../img/pat-2.png) no-repeat;
  background-size: 100%;
  margin-left: 1em;
  margin-top: -1em;
}

.bg-pat-green img{
  margin-left: -1em;
  margin-top: 1em;
}


#gallery_sec{
  background: #fff url('../img/bg-gallery.png') no-repeat;
  background-size: 100%;
  background-position: top center;
}
#gallery_sec .card{
  margin-top: 10rem;
}

.testimonials_carousel .row{
  padding: 2em;
  align-items: center;
}

.testimonials_carousel .prev-arrow{
  left: inherit;
  right: 80px;
  bottom: 0px;
  top: inherit;
}

.testimonials_carousel .next-arrow{
  left: inherit;
  right: 20px;
  bottom: 0px;
  top: inherit;
}

.testimonials_carousel .prev-arrow, .testimonials_carousel .next-arrow{
  opacity: .5;
}

.testimonials_carousel .prev-arrow:hover, .testimonials_carousel .next-arrow:hover{
  opacity: 1;
}

.testimonials_carousel .prev-arrow ion-icon, .testimonials_carousel .next-arrow ion-icon {
    font-size: 24px;
    --ionicon-stroke-width: 24px;
}

.testimonials_carousel .prev-arrow ion-icon, .testimonials_carousel .next-arrow ion-icon {
    font-size: 24px;
    --ionicon-stroke-width: 24px;
}

#member_section{
  background: #fff url('../img/bg-member.png') no-repeat;
  background-size: 100%;
  background-position: top center;
}

#contact_section{
  background: #F3FAFD url('../img/bg-contact.png') no-repeat;
  background-size: 100%;
  background-position: bottom center;
  background-position-y: 300px;
}

#our_deals ul {
  list-style-image: url('../img/icons/icon-li.svg');
  padding-left: 1em;
}

#our_deals ul li{
  padding-left: 1em;
}
.ui-best-deals{
  position: relative;
  height: 100%;
}
.ui-best-deals .title-left{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: block;
}
.ui-best-deals .title-right{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}
.ui-best-deals .img-left{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
}
.ui-best-deals .img-right{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

#skyn_section{
  background: #FFF9FE url('../img/bg-skyn.png') no-repeat;
  background-size: 100%;
  background-position: top center;
  background-position-y: -50px;
  background-blend-mode: multiply;
  position: relative;
  padding-top: 0;
}

#skyn_section .img-title{
  position: absolute;
  right: 50px;
  top: 0;
}

#foxy_section{
  background: #FFFFFF url('../img/bg-foxy.png') no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

#foxy_section .img-title{
  position: absolute;
  right: 0;
  bottom: 0;
}

#foxy_section ul{
  list-style: decimal;
  padding-left: 1.3em;
}

#foxy_section ul li{
  padding-left: 1em;
  margin-bottom: 2em;
  position: relative;
}

#foxy_section ul li:before {
  border-left: 1px solid #141721;
  border-bottom: 1px solid #141721;
  content: '';
  position: absolute;
  left: -20px;
  height: 100%;
  width: 5%;
}

.pricelist{
  border-left: 1px solid #141721;
  border-bottom: 1px solid #141721;
  padding: 0.5em;
}

.pricelist-line{
  position: relative;
  letter-spacing: .5em;
  margin-bottom: 2em;
}

.pricelist-line:after {
    background: #141721;
    content: '';
    width: 70%;
    height: 1px;
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
}

.pricelist-line.text-end:after {
    background: #141721;
    content: '';
    width: 70%;
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
}

#rf_treatment{
  background: #fff url('../img/bg-rf.png') no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

#rf_treatment .img-title{
  position: absolute;
  top: 0;
  left: 0;
}

#slimming_section{
  background: #FFFCFE url('../img/bg-slimming.png') no-repeat;
  /*background-size: 100%;*/
  background-position: top left;
  background-position-x: 100px;
}

#slimming_section ul{
  list-style: decimal;
  padding-left: 1.3em;
}

#slimming_section ul li{
  padding-left: 1em;
  margin-bottom: 2em;
  position: relative;
}

#slimming_section ul li:before {
  border-left: 1px solid #141721;
  border-bottom: 1px solid #141721;
  content: '';
  position: absolute;
  left: -20px;
  height: 100%;
  width: 5%;
}

#promotions_section{
  background: #fff url('../img/bg-promo.png') no-repeat;
  background-size: 100%;
  background-position: top center;
  padding: 10em 0;
}

.promo_list{
  display: grid;
  gap: 2em;
}

.promo_list .card{
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);
  overflow: hidden;
}

#new_package{
  background: #fff url('../img/bg-new-package.png') no-repeat;
  background-size: 100%;
  background-position: center center;
  position: relative;
}

#new_package:before{
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

#new_package .container{
  z-index: 2;
  position: relative;
}

.ui-new-package{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative; 
  z-index: 3;
}

#our_menu{
  background: #CBE8FF url('../img/bg-our-menu.png') no-repeat;
  background-size: 100%;
  background-position: center center;
  position: relative;
}

#our_menu .subtitle{
  font-family: "Mont";
  font-weight: 200;
  color: #131721;
  font-size: 40px;
  text-transform: lowercase;
  line-height: 1em;
}

#our_menu h3{
  font-family: "Mont";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: .25rem;
  text-align: center;
}

#our_menu h4{
  font-family: "Mont";
  font-weight: 200;
  text-transform: uppercase;
  font-size: 24px;
}

#membership_section{
  background: #fff url('../img/bg-membership.png') no-repeat;
  background-size: 100%;
  background-position: top center;
  background-position-y: -20px;
  padding: 10em 0;
}

.memberCard .swiper-slide{
  width: 90%;
}

.memberTier{
  position: absolute;
  width: 100%;
  top: 270px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}

.memberTier .swiper-slide{
  width: 20%;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.memberTier .swiper-slide-thumb-active{
  font-weight: 600;
  color: #212529;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,1);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,1);
  Copy Text
}

.memberContent{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 5rem;
  opacity: 1;
}

#membership_section .swiper-slide-next .memberContent{
  opacity: 0;
}

.memberContent ul{
  list-style: decimal;
  padding-left: 15px;
  margin: 0;
}

.member-card{
  display: block;
  position: relative;
  border-radius: 5px!important;
  padding: 10px;
  overflow: hidden;
}

.regular-member{
  background: #DC7F9B url('../img/bg-regular-member.png') no-repeat center center;
  background-size: cover;
  color: #FEEAFA;
}

.regular-member:after{
  content: '';
  background: url('../img/icons/icon-union.svg') no-repeat center center;
  width: 250px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.regular-member .badge{
  color: #FEEAFA;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

.silver-member{
  background: #BFDBF7 url('../img/bg-silver-member.png') no-repeat center center;
  background-size: cover;
  color: #546A7B;
}

.silver-member:after{
  content: '';
  background: url('../img/icons/icon-hexagon.svg') no-repeat center center;
  width: 250px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.silver-member .badge{
  color: #F5FBFF;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

.gold-member{
  background: #C19552 url('../img/bg-gold-member.png') no-repeat center center;
  background-size: cover;
  color: #F9DFA4;
}

.gold-member:after{
  content: '';
  background: url('../img/icons/icon-crown.svg') no-repeat center center;
  width: 250px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.gold-member .badge{
  color: #F9DFA4;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

.platinum-member{
  background: #E1E5F2 url('../img/bg-platinum-member.png') no-repeat center center;
  background-size: cover;
  color: #495057;
}

.platinum-member:after{
  content: '';
  background: url('../img/icons/icon-heart.svg') no-repeat center center;
  width: 250px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.platinum-member .badge{
  color: #F5FBFF;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

.my-voucher{
  background: #FFFCF2 url('../img/bg-voucher.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 5rem 0;
  border-radius: 5px;
}

.myVoucher .swiper-slide{
  width: 70%;
}

.myVoucher ion-icon{
  font-size: 100px;
}

.my-promo{
  background: #FFFCF2 url('../img/bg-mypromo.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 3rem 0;
}

.myPromo .swiper-slide{
  width: 70%;
}

.myPromo ion-icon{
  font-size: 70px;
}

#my_account{
  background: #fff url('../img/bg-membership.png') no-repeat;
  background-size: 100%;
  background-position: top center;
  padding: 10em 0;
}

.avatar{
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-edit{
  position: relative;
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.btn-edit a{
  background: #131721;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.btn-edit a:hover{
  background: #DC7F9B;
}
.list-menu{
  width: 50%;
  margin: 2em auto 0;
}
.list-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-menu ul li{
  border-bottom: 1px solid #CED4DA;
}
.list-menu ul li:last-child{
  border: none;
}
.list-menu a:hover{
  color: #DC7F9B;
}

#footer{
  background: #4b2a58 url('../img/bg-footer.png') no-repeat;
  background-size: 100%;
  background-position: top center;
  color: #fff;
}

#footer ul li a{
  opacity: .5;
}

#footer ul li a:hover{
  opacity: 1;
}

.footer-logo{
  margin-bottom: 2em;
}

footer{
  background: #131721;
  color: #fff;
  padding: 1.5em 0;
  font-weight: 100;
}

.gototop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 1s;
  z-index: 9;
}

.gototop.scrolled{
  opacity: 1;
  visibility: visible;
}

.referFriend{
  background: #3D2645;
  color: #fff;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 50%;
  display: block;
  z-index: 999;
}

.referFriend:hover{
  background: #131721;
  color: #DC7F9B;
}

#searchCollapse{
  position: absolute;
  right: 0;
  width: 300px;
}

.searchBtn[aria-expanded="false"]{
  content: url('../img/icons/icon-search.svg');
  appearance: none;
  display: block;
  width: auto;
  height: auto;
}
.searchBtn[aria-expanded="true"]{
  content: url('../img/icons/icon-x.svg');
}

.sosmed{
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2em;
}
.sosmed a{
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #131721;
  border-radius: 5px;
}
.sosmed a:hover{
  background: #DC7F9B;
  color: #fff;
}
.sosmed a ion-icon{
  font-size: 20px;
}

.modalPoint ul{
  list-style: none;
  padding: 0;
}

.modalPoint ul li{
  padding: 1rem 0;
  border-bottom: 1px solid #CED4DA;
}

.modalBalance ul{
  list-style: none;
  padding: 0;
}

.modalBalance ul li{
  padding: 1rem 0;
  border-bottom: 1px solid #CED4DA;
}
.pincode-input-container{
  display: flex;
  gap: 1rem;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
}

.pincode-input-container input{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px){
    h1{
      font-size: 32px;
    }
    h2{
      font-size: 24px;
    }
    h4{
      font-size: 18px;
    }
    h5,.h5,.fs-5{
      font-size: 16px!important;
    }
    p{
      font-size: 12px;
    }
    section{
      padding: 2em 0;
    }
    .subtitle{
      font-size: 12px;
    }
    #our_treatment{
      background-size: 240%;
    }
    .treatment-title{
      font-size: 10px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20%;
    }
    .navbar-brand img{
      width: 50%;
    }
    .navbar-collapse{
      height: 100vh;
      background: #131721;
      margin-left: -16px;
      margin-right: -16px;
    }
    .navbar-dark .navbar-nav .nav-link{
      justify-content: flex-start;
      padding: 1em 1.2em;
      color: #fff;
    }
    .dropdown-menu{
      color: #fff;
      background-color: transparent;
    }
    .dropdown-item{
      padding: 1rem 1.2rem;
      color: #fff;
    }
    .navbar-nav .dropdown-menu {
        border-radius: 0;
        margin: 0;
        padding: 0;
        padding-left: 2.2em;
    }
    #searchCollapse2{
      width: 100vw;
      left: 0;
      right: 0;
      position: fixed;
      z-index: 1;
    }
    #searchCollapse2 input{
      padding: 1em;
    }
    #big_hero{
      height: 70vh;
    }
    #big_hero2{
      height: 70vh;
      background-position: center right;
      background-position-x: -30rem;
    }
    #big_hero3{
      height: 70vh;
    }
    .ui-best-deals{
      height: 500px;
      margin-bottom: 15px;
    }
    .ui-best-deals .title-left, .ui-best-deals .title-right{
      width: 35%;
      z-index: 9;
    }
    .ui-best-deals .img-left{
      width: 70%;
    }
    .ui-best-deals .img-right{
      width: 70%;
    }
    #skyn_section{
      background-position-y: 0px;
      background-size: 270rem;
    }
    #skyn_section .img-title{
      bottom: 0;
      right: 0;
      top: inherit;
      width: 50%;
    }
    #foxy_section .img-title{
      width: 50%;
    }
    #rf_treatment{
      background-size: 100rem;
    }
    #rf_treatment .img-title{
      width: 50%;
    }
    #rf_treatment .img-title2{
      width: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    #rf_treatment .treatment-title{
      height: auto;
      padding: 0.5rem;
    }
    .pricelist-line{
      letter-spacing: inherit;
      margin-bottom: 1rem;
    }
    #slimming_section .img-title{
      width: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .card-overlay > img{
      opacity: 0;
    }
    .card-overlay .card-body{
      padding: 0.5em;
      justify-content: center;
      background: #fff;
      -webkit-box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 15%);
      -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 15%);
    }
    .card-overlay .card-body img{
      width: 100%;
    }
    .card-overlay .card-body h4{
      display: none;
    }
    .card-overlay .card-body p{
      display: none;
    }
    .card-overlay .card-body .btn-link-black{
      display: none;
    }
    #about_us .row{
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
    }
    #about_us .bg-pat-yellow{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 2em;
    }
    #about_us .bg-pat-yellow img{
      margin-left: -1em;
      margin-top: 1em;
    }
    #gallery_sec{
      background-size: 150%;
    }
    #gallery_sec .card {
        margin-top: 3rem;
    }
    #gallery_sec .card .card-body{
        padding: 0;
    }
    #our_customers{
      text-align: center;
    }
    #our_customers .bg-pat-green{
      width: 60%;
      margin: 0 auto;
      margin-bottom: 2em;
    }
    .testimonials_carousel .row{
      padding: 0 2em;
    }
    .testimonials_carousel .next-arrow{
        right: 0;
        bottom: -2em;
    }
    .testimonials_carousel .prev-arrow {
        left: 0;
        right: inherit;
        bottom: -2em;
        top: inherit;
    }
    #member_section{
      background-size: cover;
      text-align: center;
    }
    #member_section img{
      width: 70%;
    }
    #contact_section{
      text-align: center;
    }
    #contact_section .card .card-body{
      padding: 1em!important;
    }
    #contact_section .btn-link-dark{
      width: 100%;
    }
    #promotions_section{
      background: #fff url('../img/bg-promo.png') no-repeat;
      background-size: 300%;
      background-position: top center;
      padding: 5em 0;
    }
    .promo_list .position-absolute img{
      width: 30px;
    }
    .promo_list .position-absolute h4{
      font-size: 18px;
    }
    .promo_list .card-body h4{
      font-size: 16px;
    }
    .promo_list .card-body h5{
      font-size: 14px;
    }
    .promo_list .card-body small{
      font-size: 12px;
    }
    .modal-title{
      font-size: 16px;
    }
    .modal-body{
      font-size: 12px;
    }
    .modalPromo .bannerIcon{
      width: 32px;
    }
    .modalPromo h4{
      font-size: 16px;
    }
    .modalPromo h5{
      font-size: 14px;
    }
    .modalPromo small{
      font-size: 12px;
    }
    .modalPromo .w-10{
      width: 15%!important;
    }
    .modalPromo .w-10 img{
      width: 32px;
    }
    .modalPromo .w-10 small{
      font-size: 10px;
    }
    .btn-link-outline-dark{
      font-size: 14px;
      padding: .5em 1em;
    }
    #footer{
      font-size: 14px;
    }
    footer .row{
      display: flex;
      flex-direction: column-reverse;
      font-size: 14px;
      text-align: center;
    }
    footer .text-end{
      text-align: center!important;
    }
}

/* ---------------------------------------------------
    SLIDER STYLE
----------------------------------------------------- */

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

.prev-arrow,
.next-arrow
{
  color: #141721;
  position: absolute;
  top: 50%;
  transform: translateY(-33px);
  border: none;
  background: transparent;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  z-index: 1;
}
.prev-arrow ion-icon,
.next-arrow ion-icon{
    font-size: 50px;
    --ionicon-stroke-width: 50px;
}
.prev-arrow[aria-disabled="true"], .next-arrow[aria-disabled="true"]{
    opacity: .25;
}
.prev-arrow{
    left: 25px;
}
.next-arrow{
    right: 25px;
}

/* Dots */
.slick-dotted.slick-slider
{
    
}

.slick-dots
{
    position: absolute;
    bottom: 25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
@media (max-width: 767px){
    .slick-dots{
        bottom: 0;
    }
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 24px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .5;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #fff;
}










